In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Walmart.csv')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

### Unique values

In [4]:
for i in df.columns:
    print(f'{i}: {df[i].nunique()}')

Store: 45
Date: 143
Weekly_Sales: 6435
Holiday_Flag: 2
Temperature: 3528
Fuel_Price: 892
CPI: 2145
Unemployment: 349

In [5]:
df.describe().style.background_gradient(cmap = 'GnBu')

### Highest weekly sales is 3818686.450000.

In [6]:
df.shape

(6435, 8)

### Feature Engineering

### The date is differentiated into day, Month and year for analysis.

In [7]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.weekday
df['Week'] = df['Date'].dt.week
df['Month'] = df['Date'].dt.month
df['Year']  = df['Date'].dt.year
df.drop('Date',axis=1,inplace=True)
df.head()

/Users/priyakhandelwal/opt/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Day,Week,Month,Year
0,1,1643690.90,0,42.31,2.572,211.096358,8.106,6,17,5,2010
1,1,1641957.44,1,38.51,2.548,211.242170,8.106,3,48,12,2010
2,1,1611968.17,0,39.93,2.514,211.289143,8.106,4,7,2,2010
3,1,1409727.59,0,46.63,2.561,211.319643,8.106,4,8,2,2010
4,1,1554806.68,0,46.50,2.625,211.350143,8.106,0,18,5,2010

### Removing Outliers

In [8]:
num_features = ['Temperature','Fuel_Price','CPI','Unemployment','Weekly_Sales']
for feature in num_features:
    q1 = df[feature].quantile(0.25)
    q3 = df[feature].quantile(0.75)
    iqr = q3-q1
    lower = q1 - 1.5*iqr
    upper = q3 + 1.5*iqr
    df = df[(df[feature] >= lower) & (df[feature] <= upper)]

### Model Building

In [9]:
x = df.drop(['Weekly_Sales'],axis=1)
y = df['Weekly_Sales']

### Standardized the data

In [10]:
from sklearn.preprocessing import StandardScaler  
st = StandardScaler()
x_scaled = st.fit_transform(x)

In [33]:
from sklearn.model_selection import train_test_split, GridSearchCV 
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.2,random_state= 42)

In [12]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.linear_model import LinearRegression

In [13]:
def model(model):
    
    y_test,y_train,x_test,x_train
    model1 = model()
    model1.fit(x_train,y_train)
    y_pred = model1.predict(x_test)
    r2_score(y_test,y_pred)
  
    print(f'MSE: {mean_squared_error(y_test,y_pred)}')
    print(f'MAE: {mean_absolute_error(y_test,y_pred)}')
    print(f'R2 : {round(r2_score(y_test,y_pred)*100,2)} %')

In [14]:
model(RandomForestRegressor)

MSE: 14080985096.687855
MAE: 65999.91627215191
R2 : 95.37 %

In [ ]:
# With gridsearch
tune_and_evaluate(RandomForestRegressor, )

In [ ]:
# With gridsearch

In [15]:
model(LinearRegression)

MSE: 257002398384.23465
MAE: 421599.43519273883
R2 : 15.45 %

In [ ]:
# With gridsearch

In [16]:
model(GradientBoostingRegressor)

MSE: 27562364717.255264
MAE: 123013.92898795026
R2 : 90.93 %

In [24]:
from xgboost import XGBRegressor
import xgboost as xgb

In [25]:
xgbr = XGBRegressor(n_estimators = 1000, random_state = 1)
dtrain = xgb.DMatrix(x_train, label=y_train)

In [26]:
params = {
    'objective': 'reg:squarederror',
    'max_depth': 3,
    'learning_rate': 0.1,
    'n_estimators': 100
}

In [27]:
model = xgb.train(params, dtrain)

[13:36:46] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-10.9-x86_64-cpython-37/xgboost/src/learner.cc:627:
Parameters: { "n_estimators" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

In [30]:
# Assuming X_test is your testing features
dtest = xgb.DMatrix(x_test)
y_pred = model.predict(dtest)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'MAE: {mean_absolute_error(y_test,y_pred)}')
print(f'R2 : {round(r2_score(y_test,y_pred)*100,2)} %')

Mean Squared Error: 291029122126.3388
MAE: 409876.9496582278
R2 : 4.25 %

In [38]:
def tune_and_evaluate(model,param_grid):
    
    '''This function recieves a model then tune it using GridSearch 
    then print the best parameters and return the best estimator'''
    
    # tunning the model
    grid_search = GridSearchCV(estimator= model,param_grid= param_grid,cv=5,scoring='r2')
    grid_search.fit(x_train,y_train)
    best_params = grid_search.best_params_
    best_estimator = grid_search.best_estimator_
    # Make predictions on the test set
    y_pred = best_estimator.predict(x_test)

    best_score = grid_search.best_score_
    print("Best parameters are: ",best_params)
    print('Mean cross-validated score of the best_estimator is: ',best_score)
    print('-------------------------------------------------------------------')
    
    # best estimator evaluation
    print("Training set Accuracy:",round(best_estimator.score(x_train,y_train),3)*100)
    print("Test set Accuracy:",round(best_estimator.score(x_test,y_test),3)*100)

    print(f'MSE: {mean_squared_error(y_test,y_pred)}')
    print(f'MAE: {mean_absolute_error(y_test,y_pred)}')
    print(f'R2 : {round(r2_score(y_test,y_pred)*100,2)} %')

In [39]:
# building the model
xgb = XGBRegressor(n_jobs=-1)

# hyperparameter tunning
param_grid = {
    'max_depth': np.arange(2,10),
    'n_estimators': np.arange(20,201,20)
}
xgb = tune_and_evaluate(xgb,param_grid)

Best parameters are:  {'max_depth': 5, 'n_estimators': 180}
Mean cross-validated score of the best_estimator is:  0.9752168636564219
-------------------------------------------------------------------
Training set Accuracy: 99.7
Test set Accuracy: 97.6
MSE: 7189589388.471861
MAE: 51626.36230537974
R2 : 97.63 %

In [40]:
print(np.arange(20,201,20))

[ 20  40  60  80 100 120 140 160 180 200]